@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.time{
    text-align: center;
    padding: 32px 80px;
}

.time h3{
    margin: 0;

    color: #212121;
    font-family: 'Prata', serif;
    font-size: 32px;
    font-weight: 400;
}

.time hr{
    margin: 10px auto 32px auto;
    border: none;

    height: 4px;
    width: 32px;
}

.time .colaboradores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px;
}
